<div class="example-container">
  <mat-toolbar>Employee Details Template Driven Validation</mat-toolbar>
  <mat-form-field>
    <input matInput #input placeholder="Name" [(ngModel)]="model.employeeName">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Number" [(ngModel)]="model.employeeNumber">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="model.employeeStartdate"  placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button mat-button color="primary" (click)="submit()">Submit</button>
</div>

<pre *ngIf="submitted">Empolyee Details: {{getSubmittedEmployeeInfo()}}</pre>
